<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>twee.releaseking.com</SiteUrlToLaunchAfterPublish>
    <publishUrl>195.74.38.22/twee.releaseking.com/public_html</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>110314_master</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/EntityFramework.dll">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="bin/TweeWebb.dll">
      <publishTime>10/30/2012 10:27:37</publishTime>
    </File>
    <File Include="Content/bootstrap-responsive.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/bootstrap-responsive.min.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/bootstrap.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/bootstrap.min.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/css/m-buttons.min.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/css/m-forms.min.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/css/m-icons.min.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/css/m-styles.min.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/images/glyphicons-halflings-white.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/images/glyphicons-halflings.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/images/icons/cloud-alt.png">
      <publishTime>10/30/2012 10:24:07</publishTime>
    </File>
    <File Include="Content/images/icons/cloud.png">
      <publishTime>10/25/2012 10:52:02</publishTime>
    </File>
    <File Include="Content/images/icons/community-alt.png">
      <publishTime>10/30/2012 10:23:56</publishTime>
    </File>
    <File Include="Content/images/icons/community.png">
      <publishTime>10/25/2012 11:30:58</publishTime>
    </File>
    <File Include="Content/images/icons/design-alt.png">
      <publishTime>10/30/2012 10:23:50</publishTime>
    </File>
    <File Include="Content/images/icons/design.png">
      <publishTime>10/25/2012 11:40:14</publishTime>
    </File>
    <File Include="Content/images/icons/download-alt.png">
      <publishTime>10/30/2012 10:23:44</publishTime>
    </File>
    <File Include="Content/images/icons/download.png">
      <publishTime>10/26/2012 09:46:30</publishTime>
    </File>
    <File Include="Content/images/icons/icons_bg.png">
      <publishTime>10/25/2012 10:52:17</publishTime>
    </File>
    <File Include="Content/images/icons/profiles-alt.png">
      <publishTime>10/30/2012 11:42:42</publishTime>
    </File>
    <File Include="Content/images/icons/profiles.png">
      <publishTime>10/30/2012 11:42:21</publishTime>
    </File>
    <File Include="Content/images/large_bg.jpg">
      <publishTime>10/24/2012 13:44:51</publishTime>
    </File>
    <File Include="Content/images/phone/port_back.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/images/phone/port_back_shadow.png">
      <publishTime>10/30/2012 11:46:18</publishTime>
    </File>
    <File Include="Content/images/phone/port_fore.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/images/phone/port_shadow.png">
      <publishTime>10/25/2012 10:20:33</publishTime>
    </File>
    <File Include="Content/images/screenshots/ss1.png">
      <publishTime>10/25/2012 13:53:35</publishTime>
    </File>
    <File Include="Content/images/screenshots/ss10.png">
      <publishTime>10/25/2012 13:55:05</publishTime>
    </File>
    <File Include="Content/images/screenshots/ss11.png">
      <publishTime>10/25/2012 13:55:16</publishTime>
    </File>
    <File Include="Content/images/screenshots/ss2.png">
      <publishTime>10/25/2012 13:53:49</publishTime>
    </File>
    <File Include="Content/images/screenshots/ss3.png">
      <publishTime>10/25/2012 13:53:58</publishTime>
    </File>
    <File Include="Content/images/screenshots/ss4.png">
      <publishTime>10/25/2012 13:54:07</publishTime>
    </File>
    <File Include="Content/images/screenshots/ss5.png">
      <publishTime>10/25/2012 13:54:15</publishTime>
    </File>
    <File Include="Content/images/screenshots/ss6.png">
      <publishTime>10/25/2012 13:54:26</publishTime>
    </File>
    <File Include="Content/images/screenshots/ss7.png">
      <publishTime>10/25/2012 13:54:35</publishTime>
    </File>
    <File Include="Content/images/screenshots/ss8.png">
      <publishTime>10/25/2012 13:54:46</publishTime>
    </File>
    <File Include="Content/images/screenshots/ss9.png">
      <publishTime>10/25/2012 13:54:55</publishTime>
    </File>
    <File Include="Content/images/tweelogo.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/images/tweelogo_noborder.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/img/syncfusion-icons-white.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/img/syncfusion-icons.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>10/30/2012 11:51:45</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Scripts/bootstrap.js">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Scripts/bootstrap.min.js">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Scripts/jquery-1.8.2.js">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Scripts/jquery-1.8.2.min.js">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.debug.js">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.js">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.debug.js">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.js">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.debug.js">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.js">
      <publishTime>10/24/2012 13:31:10</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>10/30/2012 11:48:25</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>10/30/2012 11:56:46</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>10/24/2012 13:31:11</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>10/25/2012 13:13:50</publishTime>
    </File>
  </ItemGroup>
</Project>