@model TweeWebb.Models.Backup
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h1>@Model.Username</h1>

@foreach (var show in Model.Shows)
{
    <h2>@show.Name</h2>
    <p>@show.Episodes.Count(x => x.Watched == "1") / @show.Episodes.Count</p>
}
