@model TweeWebb.Models.Backup
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SocialLayout.cshtml";
}
<div id="container">
    @foreach (var show in Model.Shows)
    {
    
    
        <div class="box">
            <div class="header">
                <img src="@(show.GetImage())" />
                <div class="overlay">
                    <h2>@show.Name</h2>
                </div>
            </div>
            <div class="summary">
                <p>@show.Summary</p>
            </div>
            <div class="seasons">
                <ul class="unstyled">
                    @foreach(var season in show.Seasons)
                    {
                        <li>@season.getSeason()
                            
                            <div class="progress pull-right">
                                    <div class="progress-bar" style="width: 60%;"></div>
                            </div>
                        </li>
                    }
                        
                </ul>
            </div>

        </div>
    }
</div>
