body {
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #333;
    background-color: #dfdfdf;
    background-image: url(/Content/images/large_bg.jpg);
    background-repeat: repeat-x;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

.phone-shadow {
    height: 695px;
    width: 400px;
    position: relative;
    background: url(/Content/images/phone/port_shadow.png);
}

.phone-wrapper {
    height: 695px;
    width: 400px;
    position: relative;
    background: url(/Content/images/phone/port_back_shadow.png);
}

.phone-overlay {
    height: 695px;
    width: 400px;
    position: absolute;
    top: 1px;
    background: url(/Content/images/phone/port_fore.png);
}

.download {
    background: #fff;
    padding: 5px 0;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.span6 .m-btn {
    width: 100%;
    padding: 20px 0;
}

ul.pitch {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


div.pitch-row {
    margin-bottom: 10px;
}

    div.pitch-row img {
        height: 100px;
        float: left;
    }

    div.pitch-row .information {
        float: left;
        margin: 15px;
    }

        div.pitch-row .information h1, div.pitch-row .information p {
            margin: 0;
        }


.ball {
    height: 92px;
    width: 92px;
    border-radius: 50px;
    background-color: #333;
    transition: background-color 2s;
    -webkit-transition: background-color 1.5s;
}

    .ball:hover {
        background-color: #9c0;
    }

.img {
    height: 100px;
    width: 100px;
    background-size: 100px;
    background-position: center;
    -webkit-transition: background-image 1.5s;
    float: left;
}

.img.cloud {
    background-image: url(/Content/images/icons/cloud.png);
}

.img.cloud:hover {
    background-image: url(/Content/images/icons/cloud-alt.png);
}

.img.design {
    background-image: url(/Content/images/icons/design.png);
}

.img.design:hover {
    background-image: url(/Content/images/icons/design-alt.png);
}

.img.community {
    background-image: url(/Content/images/icons/community.png);
}

.img.community:hover {
    background-image: url(/Content/images/icons/community-alt.png);
}