body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #333;
    background-color: #eee;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


.phone-wrapper {
    height: 695px;
    width: 400px;
    position: relative;
    background: url(/Content/images/phone/port_back.png);
}
.phone-overlay {
    height: 695px;
    width: 400px;
    position: absolute;
    top: 1px;
    background: url(/Content/images/phone/port_fore.png);
}

.download {
    background: #fff;
    padding: 5px 0;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.span6 .m-btn {
    width: 100%;
    padding: 20px 0;
}